# Comments start with a hash symbol (#)
# Each line specifies a file pattern followed by one or more GitHub usernames or team names

# For example:
# Assign the owner for all files in the 'src' directory to the user 'hoangbuituananh132109'
/src/       @hoangbuituananh132109

# Assign the owner for all files in the 'docs' directory to the team 'docs-team'
/docs/      @Team28

